@import "tailwindcss";

/*
COULEURS UTILISEES
#FF4900
orange-600

#FFB822
yellow-400

#3C3C3C
stone-700

#242424
stone-800





*/
@theme {
    --color-orange-600: #FF4900;
    --color-yellow-400: #FFB822;
    --color-stone-700: #3C3C3C;
    --color-stone-800: #242424;
}

* {
    
    box-sizing: border-box;
    border-style: solid;
    @apply transition-discrete duration-300;
}

body {
    margin: 0;
}

body {
    @font-face {
        font-family: 'Inter';
        src: url('../fonts/inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    font-family: 'Inter', sans-serif;
}


.circle {
    position: absolute;
    border-radius: 50%;
    filter: blur(70px);
    z-index: -1;
    width: 300px;
    height: 300px;
}
.border-dashed {
    --tw-border-style: dashed;
    border-style: dashed;
}